<section class="new-collection">
    <div class="container">
        <h3 class="new-collection__title">
            Добро пожаловать в блог о здоровье и образе жизни!
        </h3>
        <p class="new-collection__text">
            На нашем блоге мы публикуем статьи о правильном питании, физических упражнениях, сне, стрессе и других важных аспектах здоровья. Мы хотим помочь вам вести здоровый образ жизни и чувствовать себя лучше.
        </p>
        <div class="collection">
            <div class="collection__item">
                <img src="images/dist/1.avif" alt="#" class="collection__img">
                <div class="collection__info">
                    <h6 class="collection__info-title">
                        Truffaut literally trust
                    </h6>
                    <p class="collection__info-text">
                        Living room furntiture
                    </p>
                </div>
            </div>
            <div class="collection__item">
                <img src="images/dist/2.avif" alt="#" class="collection__img">
                <div class="collection__info">
                    <h6 class="collection__info-title">
                        Truffaut literally trust
                    </h6>
                    <p class="collection__info-text">
                        Living room furntiture
                    </p>
                </div>
            </div>
            <div class="collection__item">
                <img src="images/dist/3.avif" alt="#" class="collection__img">
                <div class="collection__info">
                    <h6 class="collection__info-title">
                        Truffaut literally trust
                    </h6>
                    <p class="collection__info-text">
                        Living room furntiture
                    </p>
                </div>
            </div>
            <div class="collection__item">
                <img src="images/dist/4.avif" alt="#" class="collection__img">
                <div class="collection__info">
                    <h6 class="collection__info-title">
                        Truffaut literally trust
                    </h6>
                    <p class="collection__info-text">
                        Living room furntiture
                    </p>
                </div>
            </div>
            <div class="collection__item">
                <img src="images/dist/5.avif" alt="#" class="collection__img">
                <div class="collection__info">
                    <h6 class="collection__info-title">
                        Truffaut literally trust
                    </h6>
                    <p class="collection__info-text">
                        Living room furntiture
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>