<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">Статьи</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">Категории</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="logo"><img src="images/dist/logo.svg" alt="Логотип"></a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">Контакты</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">Авторизация</a>
                    </li>
                </ul>
            </nav>
            <button class="header__btn"><img src="images/dist/icon_menu.svg" alt="Иконка меню"></button>
        </div>
    </div>
</header>