<main class="main">
    <section class="top">
        <div class="container">
            <div class="top__inner">
                <div class="slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image: url(images/dist/slider1.avif);"></div>
                            <div class="swiper-slide" style="background-image: url(images/dist/slider2.avif);"></div>
                            <div class="swiper-slide" style="background-image: url(images/dist/slider3.avif);"></div>
                         </div>
                         <div class="swiper-pagination"></div>
                    </div>				
                </div>
                <!-- <div class="top__slider">
                    <div class="top__slider-item">
                        <img src="images/dist/slider1.avif" alt="slider1" class="top__slider-img">
                        <h2 class="top__slider-title">Секреты долголетия и жизни в гармонии</h2>
                        <p class="top__slider-text">
                            Откройте для себя тайны долголетия, узнайте, какие изменения в образе жизни могут принести заметные результаты в вашем самочувствии
                        </p>
                    </div>
                    <div class="top__slider-item">
                        <img src="images/dist/slider2.avif" alt="slider1" class="top__slider-img">
                        <h2 class="top__slider-title">Секреты долголетия и жизни в гармонии</h2>
                        <p class="top__slider-text">
                            Откройте для себя тайны долголетия, узнайте, какие изменения в образе жизни могут принести заметные результаты в вашем самочувствии
                        </p>
                    </div>
                    <div class="top__slider-item">
                        <img src="images/dist/slider3.avif" alt="slider1" class="top__slider-img">
                        <h2 class="top__slider-title">Секреты долголетия и жизни в гармонии</h2>
                        <p class="top__slider-text">
                            Откройте для себя тайны долголетия, узнайте, какие изменения в образе жизни могут принести заметные результаты в вашем самочувствии
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</main>